.calculator_main {
  width: 800px;
  height: 850px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(168, 228, 236, 0.938);
  border: rgba(160, 198, 241, 0.938) 6px solid;
  border-radius: 10%;
  box-shadow: 10px 10px 10px gray;
}

.calculator_main .calculator{
  width: 600px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.calculator_main .hr{
  height: 8px;
}

.select_cnt {
  width: 150px;
}

.calculator_main .addItem{
  width: 600px;
  margin: 0 auto;
}

.calculator_main .addItem .datebox{
  font-size: 20px;
}
.calculator_main .addItem .datebox .date{
  width: 150px;
}

.calculator_main .addItem .memo {
  height: 200px;
}

.calculator_main .ebut {
  margin-top: 10px;
  width: 600px;
}
