html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
<<<<<<< HEAD
  text-decoration: none !important;
=======
  text-decoration-line: none;
>>>>>>> 64a0d6e404ffd3df8d3d476a4176e094c4b90f49
}

* {
  box-sizing: border-box;
  list-style: none;
}
